# Core
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
requests

# ML
scikit-learn
joblib

# Web Apps
streamlit
gradio

# PDF & Images
fpdf2
Pillow

# Analysis
scipy

